# IDE configuration
.idea/

# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/
ENV/
.venv/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Jupyter Notebook checkpoints (if using)
.ipynb_checkpoints/

